:root{
    --header-height: 3rem;
    --nav-width: 324px;
    --font-medium: 500;
    --font-semi-bold: 600;
    --first-color: #E9322E;
    --first-color-dark: #fff;
    --first-color-darken: #FFFFFF;
    --text-color: #fff; 
    --first-color-light: lightblue;
    --first-color-lighten: #171717;

    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5;

    --z-fixed: 100;

}

@media screen and (min-width: 768px) {
    :root{
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
    margin: var(--header-height) 0 0 0;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 3;
}

h1,h2,h3,p{
    margin: 0;
}
h3{
    font-weight: var(--font-semi-bold);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section{
    padding: 4rem 0 2rem;
}

.section-name{
    font-size: var(--h1-font-size);
    color: #43BEE5;
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-name2{
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.header1{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}


.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-menu{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background: black;
    transition: .5s;
}
.nav-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-dark);
    cursor: pointer;
}

.nav-item{
    margin-bottom: var(--mb-4);
}

.nav-link{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    transition: .3s;
}


.nav-link:hover{
    color: var(--text-color);
}
.nav-toggle{
    color: var(--first-color-dark);
    font-size: 1.3rem;
    cursor: pointer;
}

.show{
    left: 0;
}
.active{
    color: #43BEE5;
}
 
.home{
    background-image: url(../images/pexels-neo-2653362.JPG);
    background-size: cover;
} 

.home-container{
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}


.home-img img{
    width: 155px;

}

.home-title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.home-head{
    font-size: var(--small-font-size);
    color: var(--first-color-dark);
    line-height: 2;
}


.home-media{
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.home-media-link{
    display: inline-flex;
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}
.home-media-link:hover{
    background-color: var(--first-color);
}

.button{
    display: inline-block;
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color);
}

.about{
    background-color: #2D3032;
}

.about-container{
    row-gap: 2rem;
}

.about-data{
    text-align: center;
}

.about-describe{
    margin-bottom: var(--mb-4);
}

.about-img{
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
}

.about-info{
    margin-bottom: var(--mb-4);
}

.about-info-title{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about-info-data{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
    letter-spacing: 3px;
}

.about-info-icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}
.about-info2{
    display: block;
    font-weight: var(--font-semi-bold);
}

.about-info2-small{
    font-size: var(--small-font-size);
}






.skills-container{
    row-gap: 2rem;
}

.skills-title2{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.skills-data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills-name{
    text-transform: uppercase;
}

.skills-bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--first-color);
}


.skills-html{
    width: 50%;
    animation: progres 4s infinite linear;
}
.skills-js{
    width: 50%;
    animation: progres 4s infinite linear;
}
.skills-ui{
    width: 100%;
}

@keyframes progres {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:75%;
      width:25%;
    }
    90% {
      right:0%;
      left:75%;
      width:25%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }


.education{
    background: rgb(54, 54, 54);
    height: calc(100vh - var(--header-height));
}

.education-container{
    row-gap: 2rem;
}

.education-content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education-year, .education-type{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.education-uni, .education-special{
    display: block;
    font-size: var(--smaller-font-size);
}

.education-content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education-year, .education-uni{
    text-align: right;
}

.education-time{
    padding: 0 1rem;
    justify-self: center;
}

.education-round {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.education-round::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}

.education-line{
    display: block;
    height: 90%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(5px, -4px);
}



@media screen and (min-width: 768px) {
    .home-button{
        width: initial;
    }

    .nav-menu{
        width: var(--nav-width);
    }
    
    .about-container,
    .skills-container,
    .jobs-container,
    .contact-input{
        grid-template-columns: repeat(2,1fr);
    }
    .about-data{
        text-align: initial;
    }

    .about-describe{
        margin-bottom: var(--mb-5);
    }

    .about-img{
        width: 220px;
    }

    .about-info{
        padding-left: 4rem;
    }

    .education-time{
        padding: 0 2rem;
    }

    .contact-inputs{
        display: grid;
        column-gap: 1.5rem;
    }

    .contact-info{
        padding-left: 3rem;
    }

    .footer{
        background: none;
    }

    .footer-container{
        background-color: black;
        padding: 3rem 0;
        border-radius: .5rem;
    }
}

@media screen and (min-width: 1024px) {
    body{
        margin: 0;
        padding-left: var(--nav-width);
    }

    .header1{
        width: 0;
    }

    .nav-toggle, .nav-logo, .nav-close{
        display: none;
    }

    .nav-menu{
        left: 0;
        transition: none;
    }

    .home-container{
        height: 100vh;
    }
    
    .section{
        padding: 3rem 0 2rem;
    }

    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

    .jobs-container{
        grid-template-columns: repeat(3,1fr);
    }
}







