.label {
    background-color: darkblue;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 50px;
    padding: 5px;
    height: 26px;
    width: 50px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

body.dark{
    background-color: white;
    color: black;
    transition: none;
}

/* body.dark .home{
    background-image: url(/images/pexels-lukas-1420709.jpg);
    background-size: cover;
    transition: none;
} */

body.dark .skills{
    background-color: #cdcdcd;
}

body.dark .nav-menu{
    background-color: #43BEE5;
    transition: none;
}

body.dark .about{
    background-color: #fff;
}

body.dark .education{
    background: #fff;
}

body.dark .jobs{
    background-color: #cdcdcd;
}

body.dark .footer{
    background-color: #cdcdcd;
}

body.dark .home-head{
    color: black;
}

body.dark .active{
    color: black;
}

body.dark .jobs-content{
    background-color: #fff;
}

body.dark .jobs-title{
    color: black;
}

body.dark .contact-input{
    background-color: #cdcdcd;
    color: black;
}

body.dark .footer-container{
    background-color: #fff;
}

body.dark .contact-button {
    background-color: #43BEE5;
}

body.dark .shape i{
    co
}

.common{
    padding: 70px;
    min-height: 100vh;
    position: relative;
}

.shape i{
    position: absolute;
    width: 100%;
    z-index: -9;
    font-size: 8rem;
    color: #43BEE5;
}
.shape .shape1{
    right: -160px;
    top: -50%;
    width: 450px;
    opacity: .5;
    transform-origin: center;
    animation: shape linear 30s infinite reverse;
}

.shape .shape2{
    right: -70px;
    bottom: -50px;
    width: 450px;
    opacity: .5;
    transform-origin: center;
    animation: shape linear 30s infinite reverse;
}
@keyframes shape{
    100%{
        transform: rotate(360deg);
    }
}

.shape .shape3{
    top: 0;
    left: 0;
    width: 250px;
    opacity: .4;
    transform-origin: center;
    animation: shape3 linear 20s infinite;
    transform: translate(-200px, -100px) rotate(0deg);
}
@keyframes shape3{
    100%{
        transform: translate(1300px, 600px) rotate(360deg);
    }
}

.shape .shape4{
    left: 0;
    bottom: 0;
    width: 150px;
    opacity: .4;
    transform-origin: center;
    animation: shape4 linear 20s infinite 5s;
    transform: translate(700px, 80px) rotate(0deg);
}
@keyframes shape4{
    100%{
        transform: translate(1200px, -800px) rotate(360deg);
    }
}

.shape .shape5{
    left: 500;
    top: 0;
    width: 100px;
    opacity: 0;
    transform-origin: center;
    animation: shape5 linear 25s infinite;
    transform: translate(0, -150px) rotate(0deg);
}
@keyframes shape5{
    100%{
        opacity: 1;
        transform: translate(0, 800px) rotate(720deg);
    }
}

.shape .shape6{
    left: 500;
    top: 0;
    width: 100px;
    opacity: 0;
    transform-origin: center;
    animation: shape5 linear 25s infinite;
    transform: translate(500, -100px) rotate(360deg);
}
@keyframes shape6{
    100%{
        opacity: 1;
        transform: translate(1100, 900px) rotate(720deg);
    }
}