/* CSS for jobs, contact and footer */



.jobs-container{
    row-gap: 2rem;
}

.jobs-content {
    padding: 1.5rem .5rem;
    border-radius: .5rem;
    text-align: center;
    background-color: black;
}

.jobs-icon {
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.jobs-title{
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.jobs-content, .jobs-icon, .jobs-describe, .jobs-title{
    transition: .5s;
}

.jobs-content:hover{
    background-color: #43BEE5;
    border: none;
}

.jobs-content:hover .jobs-icon{
    background-color: var(--first-color-lighten);
    color: #fff;
}
.jobs-content:hover .jobs-title{
    color: var(--first-color-lighten);
}
.jobs-content:hover .jobs-describe{
    color: var(--first-color-lighten);
}

.contact-container{
    row-gap: 3rem;
}

.contact-input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}

.contact ::placeholder{
    color: var(--first-color-dark);
    font-weight: var(--font-medium);
}

.contact-button{
    outline: none;
    border: none;
    font-size: var(--normal-font-size);
    cursor: pointer; 
}

.contact-info{
    margin-bottom: var(--mb-3);
}

.contact-title2{
   font-size: var(--h3-font-size);
   color: var(--first-color);
   margin-bottom: var(--mb-1);
   letter-spacing: 3px;
}

.contact-text{
    display: block;
    padding-left: 1rem;
    letter-spacing: 3px;
}

.footer{
    color: #43BEE5;
    text-align: center;
}

.footer-title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2); 

}

.footer-describe{
    margin-bottom: var(--mb-2);
}

.footer-social{
    margin-bottom: 3rem;
}

.footer-link{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer-link:hover{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}